In [1]:
import pandas as pd
import numpy as np

In [12]:
train, test = pd.read_csv('train.csv'), pd.read_csv('test.csv')

In [4]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [5]:
test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

# View Home Planet column

In [13]:
print(train.isnull().sum())

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [35]:
print(test.isnull().sum())

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [16]:
train["HomePlanet"].value_counts()

HomePlanet
Earth     4602
Europa    2131
Mars      1759
NA         201
Name: count, dtype: int64

In [19]:
train["CryoSleep"].value_counts()

CryoSleep
False    5439
True     3037
Name: count, dtype: int64

In [21]:
train["Cabin"].head()

0    B/0/P
1    F/0/S
2    A/0/S
3    A/0/S
4    F/1/S
Name: Cabin, dtype: object

In [22]:
train["Cabin"].apply(lambda x: str(x).split('/')[0] if str(x) != 'nan' else x).value_counts()

Cabin
F    2794
G    2559
E     876
B     779
C     747
D     478
A     256
T       5
Name: count, dtype: int64

In [34]:
train["Cabin"].apply(lambda x: str(x).split('/')[2] if str(x) != 'nan' else x).value_counts()

Cabin
S    4288
P    4206
Name: count, dtype: int64

In [ ]:
train["Destination"].value_counts() # probably doesn't affect anything

Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64

In [25]:
train["Age"].value_counts().sort_index()

Age
0.0     178
1.0      67
2.0      75
3.0      75
4.0      71
       ...
75.0      4
76.0      2
77.0      2
78.0      3
79.0      3
Name: count, Length: 80, dtype: int64

In [26]:
train["VIP"].value_counts()

VIP
False    8291
True      199
Name: count, dtype: int64

In [31]:
train["RoomService"].agg(["max", "min", "mean", "std"])

max     14327.000000
min         0.000000
mean      224.687617
std       666.717663
Name: RoomService, dtype: float64

In [32]:
train["FoodCourt"].agg(["max", "min", "mean", "std"])

max     29813.000000
min         0.000000
mean      458.077203
std      1611.489240
Name: FoodCourt, dtype: float64

In [ ]:
train["Transported"].value_counts()     # perfectlly balanced between tranported and not transported

Transported
True     4378
False    4315
Name: count, dtype: int64